.form-component{
    /* background-color: #b0b8a6c7; */
    height: 60vh;
    border-radius: 20px;
    width: 600px;

}
.form-component .form-fields input{
    border: none;
    /* border-radius: 5px; */
    /* border: #5e9918; */
    border-bottom: 2px solid #5e9918;

}
.form-component .form-fields ::placeholder{
    color: #c1ceb2;
}