
.form-component .form-fields input{
    border: 1px solid #5e9918;
    border-radius: 0.25em;
}

.form-component .form-fields ::placeholder{
    color: #c1ceb2;
}

.form-component .form-fields input:focus {
    border: 2px solid #c85103;
}