.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    /* background: linear-gradient(to top right, #525252, #ffffff); */
    color: #c85103;
    height: 90px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    top: 0;
    /* position: fixed; */
    background: white;
    backdrop-filter: blur(0.9);
  }
  
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo img{
    height: 100px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 50px;
    color: #c85103;
    font-size: 20px;
    font-weight: 400;
}

.nav-menu li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    text-decoration: none;
    color: #c85103;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #5e9918;
}
.nav-login button{
    /* display: flex; */
    align-items: center;
    /* gap: 45px; */
    justify-content: space-between;
    margin-right: 50px;
    
}
.nav-login button{
    width: 157px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 5px;
    color:white;
    background:#5e9918 ;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 25px;
}
.nav-login button:active{
    background: #5e9918;
}

.btn {
    border: none;
    outline: none;
    background-color: #5e9918;
    border-radius: 12px;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
    height: 48px;
    box-shadow: 0 2px 4px #5f991848;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:focus {
    opacity: 0.9;
  }

  .navbar .hidden {
    display: none;
  }
  
  .user-icon i {
    font-size: 3em;
    color: white;
    filter: drop-shadow(0 2px 4px #ffffff50);
  }

  .user-icon i:focus {
    color: #c85103;
  }

  
  .user-actions {
    position: relative;
  }
  
  .user-icon {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
  }
  

  .dropdown-menu {
    display: block;
    width: 160px;
  }
  .dropdown-menu li {
    border-bottom: 1px solid #c85103;
  }
  
  .dropdown-menu li:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: #c85103;
    display: block;
    padding: 8px 0;
  }
  
  .dropdown-menu li a:hover {
    background-color: white;
    color: #c85103;
  }
  